.sectionHeading {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 44.8px;
  font-weight: 700;
  font-family: inherit;
}
.sectionHeading2ServingWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
}
.frameChild,
.frameItem {
  position: relative;
  max-width: 100%;
}
.frameChild {
  height: 224px;
  width: 366px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.frameItem {
  height: 184px;
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-20xl) var(--padding-xl)
    var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.loremIpsumDolor {
  position: relative;
  line-height: 130.2%;
  font-weight: 500;
}
.loremIpsumDolor1 {
  align-self: stretch;
  position: relative;
  line-height: 124%;
  white-space: pre-wrap;
}
.seeAll {
  position: relative;
  line-height: 130.2%;
  font-weight: 500;
}
.seeAllWrapper {
  border-radius: var(--br-9xs);
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) var(--padding-5xl);
  white-space: nowrap;
  color: var(--color-white);
}
.loremIpsumDolorSitAmetCoParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.loremIpsumDolorParent,
.loremIpsumDolorSitAmetCoParent,
.serviceCardSet,
.serviceCardSetParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.loremIpsumDolorParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.serviceCardSet,
.serviceCardSetParent {
  max-width: 100%;
}
.serviceCardSet {
  width: 366px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: var(--gap-base);
}
.serviceCardSetParent {
  align-self: stretch;
  height: 740px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 32px 30px;
  font-size: var(--font-size-xl);
}
.arrowDownIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrowDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.text {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.buttonBase {
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--primary);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi);
  gap: var(--gap-5xs);
}
.button,
.buttonBase,
.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  border-radius: var(--br-5xs);
  justify-content: flex-start;
}
.buttonWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.finalInner,
.frameParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1162px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.finalInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black1);
  font-family: var(--font-sf-pro-display);
}
@media screen and (max-width: 1025px) {
  .sectionHeading {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .sectionHeading {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .loremIpsumDolor {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
}
