.contentImageIcon {
  height: 57px;
  width: 136px;
  position: relative;
  object-fit: cover;
}
.imageBackground {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.loremIpsumDolor {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.imageBackgroundParent {
  width: 229px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.learnMore,
.ticketsBooking {
  position: relative;
  font-weight: 600;
}
.ticketsBooking {
  font-size: var(--font-size-lg);
}
.buttonContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.buttonIconChild,
.buttonIconItem {
  height: 2px;
  width: 96px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--primary);
}
.buttonIconItem {
  width: 71px;
}
.buttonIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.buttonContainerParent {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.about,
.conference,
.contactUs,
.directorsMassage,
.events,
.home,
.library,
.servicesSupport,
.submitCvOnline,
.workWithBet {
  display: block;
}
.aboutAlyeskaPressContainer {
  margin: 0;
  height: 300px;
  position: relative;
  line-height: 30px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 162px;
}
.liftTickets,
.seasonPasses,
.vacationPackages {
  display: block;
}
.product {
  margin: 0;
  height: 90px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 30px;
  display: inline-block;
  mix-blend-mode: normal;
}
.aboutAlyeskaPressParent,
.buttonPanel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.aboutAlyeskaPressParent {
  flex-direction: row;
  gap: var(--gap-29xl);
  font-size: var(--font-size-base);
  color: var(--color-gray1-200);
}
.buttonPanel {
  flex-direction: column;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  max-width: 100%;
}
.contactUs1,
.social {
  position: relative;
  font-weight: 600;
}
.contactLinks {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.linkIconChild,
.linkIconItem {
  height: 2px;
  width: 88px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--primary);
}
.linkIconItem {
  width: 51px;
}
.contactLinksParent,
.linkIcon {
  display: flex;
  align-items: flex-start;
}
.linkIcon {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.contactLinksParent {
  width: 320px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.hotelReservation {
  position: relative;
  mix-blend-mode: normal;
}
.placeholderTwo {
  position: relative;
  font-weight: 500;
  color: var(--dark);
  white-space: nowrap;
}
.bookingLabels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.ticketOffice {
  width: 53px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.div {
  position: relative;
  font-weight: 500;
  color: var(--dark);
  white-space: nowrap;
}
.bookingLabels1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.hotelReservation1 {
  position: relative;
  mix-blend-mode: normal;
}
.placeholderThree {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  color: var(--dark);
}
.bookingLabelsParent,
.hotelBooking,
.hotelReservationParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hotelReservationParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
}
.bookingLabelsParent,
.hotelBooking {
  flex-direction: column;
}
.hotelBooking {
  align-self: stretch;
}
.bookingLabelsParent {
  flex: 1;
  gap: var(--gap-sm);
  min-width: 159px;
}
.bxlFacebookIcon,
.instagramLogoIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.3px;
  height: 18px;
}
.instagramLogoIcon {
  left: 34.7px;
  width: 18px;
  object-fit: cover;
}
.bxlFacebookParent {
  width: 52.7px;
  height: 18px;
  position: relative;
}
.backgroundShapeOne,
.backgroundShapeOne1 {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  min-height: 26px;
}
.iconBackgroundOne,
.platformOne {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.platformOne {
  flex-direction: column;
  gap: var(--gap-xl);
}
.socialMedia {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.contactInfo,
.reservation,
.socialMedia {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reservation {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl-3);
  font-size: var(--font-size-sm);
  color: var(--color-gray1-300);
}
.contactInfo {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.bxlTwitterIcon,
.youtubeLogoIcon {
  position: relative;
  min-height: 16px;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.bxlTwitterIcon {
  height: 16px;
  width: 19.7px;
}
.youtubeLogoIcon {
  align-self: stretch;
  width: 22.3px;
  max-height: 100%;
  object-fit: cover;
}
.iconContainerTwo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl-3);
}
.backgroundShapeThree,
.backgroundShapeThree1 {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  min-height: 26px;
}
.backgroundShapeTwo {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.backgroundShapeTwo,
.iconBackgroundTwo,
.iconContainerTwoParent,
.platformTwo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconBackgroundTwo {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
}
.iconContainerTwoParent,
.platformTwo {
  flex-direction: column;
}
.iconContainerTwoParent {
  align-self: stretch;
  gap: var(--gap-2xl);
}
.platformTwo {
  width: 73.5px;
  padding: var(--padding-35xl) 0 0;
  box-sizing: border-box;
}
.contentRight {
  width: 420.5px;
  gap: var(--gap-2xs-5);
}
.contentRight,
.imageBlock,
.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.imageContainer {
  flex-wrap: wrap;
  gap: var(--gap-59xl-5);
}
.imageBlock {
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.divider {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--color-gray1-400);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.contentLeft {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.rahul {
  position: relative;
  mix-blend-mode: normal;
}
.name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray1-500);
}
.lowerContent,
.lowerContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.lowerContent {
  width: 1237px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.lowerContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--dark);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1125px) {
  .imageContainer {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 750px) {
  .imageContainer {
    gap: var(--gap-xl);
  }
  .contentLeft {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .learnMore {
    font-size: var(--font-size-base);
  }
  .buttonContainer,
  .buttonIcon {
    flex-wrap: wrap;
  }
  .aboutAlyeskaPressContainer {
    flex: 1;
  }
  .aboutAlyeskaPressParent {
    flex-wrap: wrap;
    gap: var(--gap-5xl);
  }
  .contactUs1,
  .social {
    font-size: var(--font-size-base);
  }
  .contactLinks,
  .contentRight,
  .linkIcon,
  .reservation {
    flex-wrap: wrap;
  }
}
